<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="strategieCmgGed">
      <h2 data-cy="strategieCmgGedDetailsHeading"><span jhiTranslate="bcaApp.strategieCmgGed.detail.title">Strategie Cmg Ged</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ strategieCmgGed.id }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCmgGed.anne">Anne</span></dt>
        <dd>
          <span>{{ strategieCmgGed.anne }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCmgGed.mois">Mois</span></dt>
        <dd>
          <span>{{ strategieCmgGed.mois }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCmgGed.nbHeureSeuilPlafond">Nb Heure Seuil Plafond</span></dt>
        <dd>
          <span>{{ strategieCmgGed.nbHeureSeuilPlafond }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCmgGed.tauxSalaire">Taux Salaire</span></dt>
        <dd>
          <span>{{ strategieCmgGed.tauxSalaire }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCmgGed.tauxCotisations">Taux Cotisations</span></dt>
        <dd>
          <span>{{ strategieCmgGed.tauxCotisations }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCmgGed.isActif">Is Actif</span></dt>
        <dd>
          <span>{{ strategieCmgGed.isActif }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCmgGed.dateCreated">Date Created</span></dt>
        <dd>
          <span>{{ strategieCmgGed.dateCreated | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCmgGed.isUpdated">Is Updated</span></dt>
        <dd>
          <span>{{ strategieCmgGed.isUpdated }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCmgGed.dateModified">Date Modified</span></dt>
        <dd>
          <span>{{ strategieCmgGed.dateModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCmgGed.aide">Aide</span></dt>
        <dd>
          <div *ngIf="strategieCmgGed.aide">
            <a [routerLink]="['/aide', strategieCmgGed.aide?.id, 'view']">{{ strategieCmgGed.aide?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCmgGed.tiersFinanceur">Tiers Financeur</span></dt>
        <dd>
          <div *ngIf="strategieCmgGed.tiersFinanceur">
            <a [routerLink]="['/tiers-financeur', strategieCmgGed.tiersFinanceur?.id, 'view']">{{ strategieCmgGed.tiersFinanceur?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/strategie-cmg-ged', strategieCmgGed.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
