<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="soldePch">
      <h2 data-cy="soldePchDetailsHeading"><span jhiTranslate="bcaApp.soldePch.detail.title">Solde Pch</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ soldePch.id }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePch.date">Date</span></dt>
        <dd>
          <span>{{ soldePch.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePch.isActif">Is Actif</span></dt>
        <dd>
          <span>{{ soldePch.isActif }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePch.isDernier">Is Dernier</span></dt>
        <dd>
          <span>{{ soldePch.isDernier }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePch.annee">Annee</span></dt>
        <dd>
          <span>{{ soldePch.annee }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePch.mois">Mois</span></dt>
        <dd>
          <span>{{ soldePch.mois }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePch.consoMontantPchCotisations">Conso Montant Pch Cotisations</span></dt>
        <dd>
          <span>{{ soldePch.consoMontantPchCotisations }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePch.consoMontantPchSalaire">Conso Montant Pch Salaire</span></dt>
        <dd>
          <span>{{ soldePch.consoMontantPchSalaire }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePch.soldeMontantPch">Solde Montant Pch</span></dt>
        <dd>
          <span>{{ soldePch.soldeMontantPch }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePch.consoHeurePch">Conso Heure Pch</span></dt>
        <dd>
          <span>{{ soldePch.consoHeurePch }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePch.soldeHeurePch">Solde Heure Pch</span></dt>
        <dd>
          <span>{{ soldePch.soldeHeurePch }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePch.droitsStrategiePch">Droits Strategie Pch</span></dt>
        <dd>
          <div *ngIf="soldePch.droitsStrategiePch">
            <a [routerLink]="['/droits-strategie-pch', soldePch.droitsStrategiePch?.id, 'view']">{{ soldePch.droitsStrategiePch?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/solde-pch', soldePch.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
