<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="strategieCi">
      <h2 data-cy="strategieCiDetailsHeading"><span jhiTranslate="bcaApp.strategieCi.detail.title">Strategie Ci</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ strategieCi.id }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.isActif">Is Actif</span></dt>
        <dd>
          <span>{{ strategieCi.isActif }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.dateAnnuelleDebutValidite">Date Annuelle Debut Validite</span></dt>
        <dd>
          <span>{{ strategieCi.dateAnnuelleDebutValidite | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.anne">Anne</span></dt>
        <dd>
          <span>{{ strategieCi.anne }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.montantPlafondDefaut">Montant Plafond Defaut</span></dt>
        <dd>
          <span>{{ strategieCi.montantPlafondDefaut }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.montantPlafondHandicape">Montant Plafond Handicape</span></dt>
        <dd>
          <span>{{ strategieCi.montantPlafondHandicape }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.montantPlafondDefautPlus">Montant Plafond Defaut Plus</span></dt>
        <dd>
          <span>{{ strategieCi.montantPlafondDefautPlus }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.montantPlafondHandicapePlus">Montant Plafond Handicape Plus</span></dt>
        <dd>
          <span>{{ strategieCi.montantPlafondHandicapePlus }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.tauxSalaire">Taux Salaire</span></dt>
        <dd>
          <span>{{ strategieCi.tauxSalaire }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.aide">Aide</span></dt>
        <dd>
          <div *ngIf="strategieCi.aide">
            <a [routerLink]="['/aide', strategieCi.aide?.id, 'view']">{{ strategieCi.aide?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.tiersFinanceur">Tiers Financeur</span></dt>
        <dd>
          <div *ngIf="strategieCi.tiersFinanceur">
            <a [routerLink]="['/tiers-financeur', strategieCi.tiersFinanceur?.id, 'view']">{{ strategieCi.tiersFinanceur?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.natureActivite">Nature Activite</span></dt>
        <dd>
          <span *ngFor="let natureActivite of strategieCi.natureActivites; let last = last">
            <a [routerLink]="['/nature-activite', natureActivite?.id, 'view']">{{ natureActivite.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="bcaApp.strategieCi.natureMontant">Nature Montant</span></dt>
        <dd>
          <span *ngFor="let natureMontant of strategieCi.natureMontants; let last = last">
            <a [routerLink]="['/nature-montant', natureMontant?.id, 'view']">{{ natureMontant.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/strategie-ci', strategieCi.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
