<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="droitsStrategiePch">
      <h2 data-cy="droitsStrategiePchDetailsHeading">
        <span jhiTranslate="bcaApp.droitsStrategiePch.detail.title">Droits Strategie Pch</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ droitsStrategiePch.id }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.droitsStrategiePch.isActif">Is Actif</span></dt>
        <dd>
          <span>{{ droitsStrategiePch.isActif }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.droitsStrategiePch.anne">Anne</span></dt>
        <dd>
          <span>{{ droitsStrategiePch.anne }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.droitsStrategiePch.mois">Mois</span></dt>
        <dd>
          <span>{{ droitsStrategiePch.mois }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.droitsStrategiePch.montantPlafond">Montant Plafond</span></dt>
        <dd>
          <span>{{ droitsStrategiePch.montantPlafond }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.droitsStrategiePch.montantPlafondPlus">Montant Plafond Plus</span></dt>
        <dd>
          <span>{{ droitsStrategiePch.montantPlafondPlus }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.droitsStrategiePch.nbHeurePlafond">Nb Heure Plafond</span></dt>
        <dd>
          <span>{{ droitsStrategiePch.nbHeurePlafond }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.droitsStrategiePch.tauxCotisations">Taux Cotisations</span></dt>
        <dd>
          <span>{{ droitsStrategiePch.tauxCotisations }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.droitsStrategiePch.dateOuverture">Date Ouverture</span></dt>
        <dd>
          <span>{{ droitsStrategiePch.dateOuverture | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.droitsStrategiePch.dateFermeture">Date Fermeture</span></dt>
        <dd>
          <span>{{ droitsStrategiePch.dateFermeture | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.droitsStrategiePch.beneficiaire">Beneficiaire</span></dt>
        <dd>
          <div *ngIf="droitsStrategiePch.beneficiaire">
            <a [routerLink]="['/beneficiaire', droitsStrategiePch.beneficiaire?.id, 'view']">{{ droitsStrategiePch.beneficiaire?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/droits-strategie-pch', droitsStrategiePch.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
