<div>
  <h2 id="page-heading" data-cy="StrategieApaHeading">
    <span jhiTranslate="bcaApp.strategieApa.home.title">Strategie Apas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bcaApp.strategieApa.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-strategie-apa"
        [routerLink]="['/strategie-apa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bcaApp.strategieApa.home.createLabel"> Create a new Strategie Apa </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="strategieApas?.length === 0">
    <span jhiTranslate="bcaApp.strategieApa.home.notFound">No strategieApas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="strategieApas && strategieApas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.isActif">Is Actif</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.dateMensuelleDebutValidite">Date Mensuelle Debut Validite</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.anne">Anne</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.mois">Mois</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.montantPlafondSalaire">Montant Plafond Salaire</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.montantPlafondCotisations">Montant Plafond Cotisations</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.montantPlafondSalairePlus">Montant Plafond Salaire Plus</span></th>
          <th scope="col">
            <span jhiTranslate="bcaApp.strategieApa.montantPlafondCotisationsPlus">Montant Plafond Cotisations Plus</span>
          </th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.nbHeureSalairePlafond">Nb Heure Salaire Plafond</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.tauxSalaire">Taux Salaire</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.tauxCotisations">Taux Cotisations</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.aide">Aide</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.tiersFinanceur">Tiers Financeur</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.natureActivite">Nature Activite</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.strategieApa.natureMontant">Nature Montant</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let strategieApa of strategieApas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/strategie-apa', strategieApa.id, 'view']">{{ strategieApa.id }}</a>
          </td>
          <td>{{ strategieApa.isActif }}</td>
          <td>{{ strategieApa.dateMensuelleDebutValidite | formatMediumDate }}</td>
          <td>{{ strategieApa.anne }}</td>
          <td>{{ strategieApa.mois }}</td>
          <td>{{ strategieApa.montantPlafondSalaire }}</td>
          <td>{{ strategieApa.montantPlafondCotisations }}</td>
          <td>{{ strategieApa.montantPlafondSalairePlus }}</td>
          <td>{{ strategieApa.montantPlafondCotisationsPlus }}</td>
          <td>{{ strategieApa.nbHeureSalairePlafond }}</td>
          <td>{{ strategieApa.tauxSalaire }}</td>
          <td>{{ strategieApa.tauxCotisations }}</td>
          <td>
            <div *ngIf="strategieApa.aide">
              <a [routerLink]="['/aide', strategieApa.aide?.id, 'view']">{{ strategieApa.aide?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="strategieApa.tiersFinanceur">
              <a [routerLink]="['/tiers-financeur', strategieApa.tiersFinanceur?.id, 'view']">{{ strategieApa.tiersFinanceur?.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let natureActivite of strategieApa.natureActivites; let last = last">
              <a class="form-control-static" [routerLink]="['/nature-activite', natureActivite.id, 'view']">{{ natureActivite.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let natureMontant of strategieApa.natureMontants; let last = last">
              <a class="form-control-static" [routerLink]="['/nature-montant', natureMontant.id, 'view']">{{ natureMontant.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/strategie-apa', strategieApa.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/strategie-apa', strategieApa.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(strategieApa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
