<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-droits-strategie-pch-e-heading"
        data-cy="DroitsStrategiePchECreateUpdateHeading"
        jhiTranslate="bcaApp.droitsStrategiePchE.home.createOrEditLabel"
      >
        Create or edit a Droits Strategie Pch E
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.droitsStrategiePchE.isActif" for="field_isActif">Is Actif</label>
          <input type="checkbox" class="form-check" name="isActif" id="field_isActif" data-cy="isActif" formControlName="isActif" />
          <div *ngIf="editForm.get('isActif')!.invalid && (editForm.get('isActif')!.dirty || editForm.get('isActif')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isActif')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.droitsStrategiePchE.anne" for="field_anne">Anne</label>
          <input type="number" class="form-control" name="anne" id="field_anne" data-cy="anne" formControlName="anne" />
          <div *ngIf="editForm.get('anne')!.invalid && (editForm.get('anne')!.dirty || editForm.get('anne')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('anne')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('anne')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.droitsStrategiePchE.mois" for="field_mois">Mois</label>
          <input type="number" class="form-control" name="mois" id="field_mois" data-cy="mois" formControlName="mois" />
          <div *ngIf="editForm.get('mois')!.invalid && (editForm.get('mois')!.dirty || editForm.get('mois')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('mois')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('mois')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.droitsStrategiePchE.montantPlafond" for="field_montantPlafond"
            >Montant Plafond</label
          >
          <input
            type="number"
            class="form-control"
            name="montantPlafond"
            id="field_montantPlafond"
            data-cy="montantPlafond"
            formControlName="montantPlafond"
          />
          <div
            *ngIf="
              editForm.get('montantPlafond')!.invalid && (editForm.get('montantPlafond')!.dirty || editForm.get('montantPlafond')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('montantPlafond')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('montantPlafond')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.droitsStrategiePchE.montantPlafondPlus" for="field_montantPlafondPlus"
            >Montant Plafond Plus</label
          >
          <input
            type="number"
            class="form-control"
            name="montantPlafondPlus"
            id="field_montantPlafondPlus"
            data-cy="montantPlafondPlus"
            formControlName="montantPlafondPlus"
          />
          <div
            *ngIf="
              editForm.get('montantPlafondPlus')!.invalid &&
              (editForm.get('montantPlafondPlus')!.dirty || editForm.get('montantPlafondPlus')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('montantPlafondPlus')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('montantPlafondPlus')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.droitsStrategiePchE.nbHeurePlafond" for="field_nbHeurePlafond"
            >Nb Heure Plafond</label
          >
          <input
            type="number"
            class="form-control"
            name="nbHeurePlafond"
            id="field_nbHeurePlafond"
            data-cy="nbHeurePlafond"
            formControlName="nbHeurePlafond"
          />
          <div
            *ngIf="
              editForm.get('nbHeurePlafond')!.invalid && (editForm.get('nbHeurePlafond')!.dirty || editForm.get('nbHeurePlafond')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nbHeurePlafond')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('nbHeurePlafond')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.droitsStrategiePchE.tauxCotisations" for="field_tauxCotisations"
            >Taux Cotisations</label
          >
          <input
            type="number"
            class="form-control"
            name="tauxCotisations"
            id="field_tauxCotisations"
            data-cy="tauxCotisations"
            formControlName="tauxCotisations"
          />
          <div
            *ngIf="
              editForm.get('tauxCotisations')!.invalid &&
              (editForm.get('tauxCotisations')!.dirty || editForm.get('tauxCotisations')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tauxCotisations')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('tauxCotisations')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.droitsStrategiePchE.dateOuverture" for="field_dateOuverture"
            >Date Ouverture</label
          >
          <div class="input-group">
            <input
              id="field_dateOuverture"
              data-cy="dateOuverture"
              type="text"
              class="form-control"
              name="dateOuverture"
              ngbDatepicker
              #dateOuvertureDp="ngbDatepicker"
              formControlName="dateOuverture"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateOuvertureDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('dateOuverture')!.invalid && (editForm.get('dateOuverture')!.dirty || editForm.get('dateOuverture')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateOuverture')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.droitsStrategiePchE.dateFermeture" for="field_dateFermeture"
            >Date Fermeture</label
          >
          <div class="input-group">
            <input
              id="field_dateFermeture"
              data-cy="dateFermeture"
              type="text"
              class="form-control"
              name="dateFermeture"
              ngbDatepicker
              #dateFermetureDp="ngbDatepicker"
              formControlName="dateFermeture"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateFermetureDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.droitsStrategiePchE.beneficiaire" for="field_beneficiaire"
            >Beneficiaire</label
          >
          <select class="form-control" id="field_beneficiaire" data-cy="beneficiaire" name="beneficiaire" formControlName="beneficiaire">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                beneficiaireOption.id === editForm.get('beneficiaire')!.value?.id ? editForm.get('beneficiaire')!.value : beneficiaireOption
              "
              *ngFor="let beneficiaireOption of beneficiairesSharedCollection; trackBy: trackBeneficiaireById"
            >
              {{ beneficiaireOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
