<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="soldeApa">
      <h2 data-cy="soldeApaDetailsHeading"><span jhiTranslate="bcaApp.soldeApa.detail.title">Solde Apa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ soldeApa.id }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeApa.date">Date</span></dt>
        <dd>
          <span>{{ soldeApa.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeApa.isActif">Is Actif</span></dt>
        <dd>
          <span>{{ soldeApa.isActif }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeApa.isDernier">Is Dernier</span></dt>
        <dd>
          <span>{{ soldeApa.isDernier }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeApa.annee">Annee</span></dt>
        <dd>
          <span>{{ soldeApa.annee }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeApa.mois">Mois</span></dt>
        <dd>
          <span>{{ soldeApa.mois }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeApa.consoMontantApaCotisations">Conso Montant Apa Cotisations</span></dt>
        <dd>
          <span>{{ soldeApa.consoMontantApaCotisations }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeApa.consoMontantApaSalaire">Conso Montant Apa Salaire</span></dt>
        <dd>
          <span>{{ soldeApa.consoMontantApaSalaire }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeApa.soldeMontantApa">Solde Montant Apa</span></dt>
        <dd>
          <span>{{ soldeApa.soldeMontantApa }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeApa.consoHeureApa">Conso Heure Apa</span></dt>
        <dd>
          <span>{{ soldeApa.consoHeureApa }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeApa.soldeHeureApa">Solde Heure Apa</span></dt>
        <dd>
          <span>{{ soldeApa.soldeHeureApa }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeApa.droitsStrategieApa">Droits Strategie Apa</span></dt>
        <dd>
          <div *ngIf="soldeApa.droitsStrategieApa">
            <a [routerLink]="['/droits-strategie-apa', soldeApa.droitsStrategieApa?.id, 'view']">{{ soldeApa.droitsStrategieApa?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/solde-apa', soldeApa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
