<div>
  <h2 id="page-heading" data-cy="TrancheAideEnfantAssmatHeading">
    <span jhiTranslate="bcaApp.trancheAideEnfantAssmat.home.title">Tranche Aide Enfant Assmats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bcaApp.trancheAideEnfantAssmat.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tranche-aide-enfant-assmat"
        [routerLink]="['/tranche-aide-enfant-assmat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bcaApp.trancheAideEnfantAssmat.home.createLabel"> Create a new Tranche Aide Enfant Assmat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trancheAideEnfantAssmats?.length === 0">
    <span jhiTranslate="bcaApp.trancheAideEnfantAssmat.home.notFound">No trancheAideEnfantAssmats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="trancheAideEnfantAssmats && trancheAideEnfantAssmats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.trancheAideEnfantAssmat.anne">Anne</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.trancheAideEnfantAssmat.mois">Mois</span></th>
          <th scope="col">
            <span jhiTranslate="bcaApp.trancheAideEnfantAssmat.ageEnfantRevoluSurPeriode">Age Enfant Revolu Sur Periode</span>
          </th>
          <th scope="col"><span jhiTranslate="bcaApp.trancheAideEnfantAssmat.montantPlafondSalaire">Montant Plafond Salaire</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.trancheAideEnfantAssmat.isActif">Is Actif</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.trancheAideEnfantAssmat.dateCreated">Date Created</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.trancheAideEnfantAssmat.isUpdated">Is Updated</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.trancheAideEnfantAssmat.dateModified">Date Modified</span></th>
          <th scope="col"><span jhiTranslate="bcaApp.trancheAideEnfantAssmat.strategieCmgAssmat">Strategie Cmg Assmat</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trancheAideEnfantAssmat of trancheAideEnfantAssmats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tranche-aide-enfant-assmat', trancheAideEnfantAssmat.id, 'view']">{{ trancheAideEnfantAssmat.id }}</a>
          </td>
          <td>{{ trancheAideEnfantAssmat.anne }}</td>
          <td>{{ trancheAideEnfantAssmat.mois }}</td>
          <td>{{ trancheAideEnfantAssmat.ageEnfantRevoluSurPeriode }}</td>
          <td>{{ trancheAideEnfantAssmat.montantPlafondSalaire }}</td>
          <td>{{ trancheAideEnfantAssmat.isActif }}</td>
          <td>{{ trancheAideEnfantAssmat.dateCreated | formatMediumDatetime }}</td>
          <td>{{ trancheAideEnfantAssmat.isUpdated }}</td>
          <td>{{ trancheAideEnfantAssmat.dateModified | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="trancheAideEnfantAssmat.strategieCmgAssmat">
              <a [routerLink]="['/strategie-cmg-assmat', trancheAideEnfantAssmat.strategieCmgAssmat?.id, 'view']">{{
                trancheAideEnfantAssmat.strategieCmgAssmat?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tranche-aide-enfant-assmat', trancheAideEnfantAssmat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tranche-aide-enfant-assmat', trancheAideEnfantAssmat.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(trancheAideEnfantAssmat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
