<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-solde-pch-heading" data-cy="SoldePchCreateUpdateHeading" jhiTranslate="bcaApp.soldePch.home.createOrEditLabel">
        Create or edit a Solde Pch
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.soldePch.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('date')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.soldePch.isActif" for="field_isActif">Is Actif</label>
          <input type="checkbox" class="form-check" name="isActif" id="field_isActif" data-cy="isActif" formControlName="isActif" />
          <div *ngIf="editForm.get('isActif')!.invalid && (editForm.get('isActif')!.dirty || editForm.get('isActif')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isActif')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.soldePch.isDernier" for="field_isDernier">Is Dernier</label>
          <input type="checkbox" class="form-check" name="isDernier" id="field_isDernier" data-cy="isDernier" formControlName="isDernier" />
          <div *ngIf="editForm.get('isDernier')!.invalid && (editForm.get('isDernier')!.dirty || editForm.get('isDernier')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isDernier')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.soldePch.annee" for="field_annee">Annee</label>
          <input type="number" class="form-control" name="annee" id="field_annee" data-cy="annee" formControlName="annee" />
          <div *ngIf="editForm.get('annee')!.invalid && (editForm.get('annee')!.dirty || editForm.get('annee')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('annee')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('annee')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.soldePch.mois" for="field_mois">Mois</label>
          <input type="number" class="form-control" name="mois" id="field_mois" data-cy="mois" formControlName="mois" />
          <div *ngIf="editForm.get('mois')!.invalid && (editForm.get('mois')!.dirty || editForm.get('mois')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('mois')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('mois')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.soldePch.consoMontantPchCotisations" for="field_consoMontantPchCotisations"
            >Conso Montant Pch Cotisations</label
          >
          <input
            type="number"
            class="form-control"
            name="consoMontantPchCotisations"
            id="field_consoMontantPchCotisations"
            data-cy="consoMontantPchCotisations"
            formControlName="consoMontantPchCotisations"
          />
          <div
            *ngIf="
              editForm.get('consoMontantPchCotisations')!.invalid &&
              (editForm.get('consoMontantPchCotisations')!.dirty || editForm.get('consoMontantPchCotisations')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('consoMontantPchCotisations')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('consoMontantPchCotisations')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.soldePch.consoMontantPchSalaire" for="field_consoMontantPchSalaire"
            >Conso Montant Pch Salaire</label
          >
          <input
            type="number"
            class="form-control"
            name="consoMontantPchSalaire"
            id="field_consoMontantPchSalaire"
            data-cy="consoMontantPchSalaire"
            formControlName="consoMontantPchSalaire"
          />
          <div
            *ngIf="
              editForm.get('consoMontantPchSalaire')!.invalid &&
              (editForm.get('consoMontantPchSalaire')!.dirty || editForm.get('consoMontantPchSalaire')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('consoMontantPchSalaire')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('consoMontantPchSalaire')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.soldePch.soldeMontantPch" for="field_soldeMontantPch"
            >Solde Montant Pch</label
          >
          <input
            type="number"
            class="form-control"
            name="soldeMontantPch"
            id="field_soldeMontantPch"
            data-cy="soldeMontantPch"
            formControlName="soldeMontantPch"
          />
          <div
            *ngIf="
              editForm.get('soldeMontantPch')!.invalid &&
              (editForm.get('soldeMontantPch')!.dirty || editForm.get('soldeMontantPch')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soldeMontantPch')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('soldeMontantPch')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.soldePch.consoHeurePch" for="field_consoHeurePch">Conso Heure Pch</label>
          <input
            type="number"
            class="form-control"
            name="consoHeurePch"
            id="field_consoHeurePch"
            data-cy="consoHeurePch"
            formControlName="consoHeurePch"
          />
          <div
            *ngIf="
              editForm.get('consoHeurePch')!.invalid && (editForm.get('consoHeurePch')!.dirty || editForm.get('consoHeurePch')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('consoHeurePch')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('consoHeurePch')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.soldePch.soldeHeurePch" for="field_soldeHeurePch">Solde Heure Pch</label>
          <input
            type="number"
            class="form-control"
            name="soldeHeurePch"
            id="field_soldeHeurePch"
            data-cy="soldeHeurePch"
            formControlName="soldeHeurePch"
          />
          <div
            *ngIf="
              editForm.get('soldeHeurePch')!.invalid && (editForm.get('soldeHeurePch')!.dirty || editForm.get('soldeHeurePch')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soldeHeurePch')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('soldeHeurePch')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bcaApp.soldePch.droitsStrategiePch" for="field_droitsStrategiePch"
            >Droits Strategie Pch</label
          >
          <select
            class="form-control"
            id="field_droitsStrategiePch"
            data-cy="droitsStrategiePch"
            name="droitsStrategiePch"
            formControlName="droitsStrategiePch"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                droitsStrategiePchOption.id === editForm.get('droitsStrategiePch')!.value?.id
                  ? editForm.get('droitsStrategiePch')!.value
                  : droitsStrategiePchOption
              "
              *ngFor="let droitsStrategiePchOption of droitsStrategiePchesSharedCollection; trackBy: trackDroitsStrategiePchById"
            >
              {{ droitsStrategiePchOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
