<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="beneficiaire">
      <h2 data-cy="beneficiaireDetailsHeading"><span jhiTranslate="bcaApp.beneficiaire.detail.title">Beneficiaire</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bcaApp.beneficiaire.id">Id</span></dt>
        <dd>
          <span>{{ beneficiaire.id }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.beneficiaire.externeId">Externe Id</span></dt>
        <dd>
          <span>{{ beneficiaire.externeId }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.beneficiaire.isActif">Is Actif</span></dt>
        <dd>
          <span>{{ beneficiaire.isActif }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.beneficiaire.dateDesactivation">Date Desactivation</span></dt>
        <dd>
          <span>{{ beneficiaire.dateDesactivation | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.beneficiaire.isInscrit">Is Inscrit</span></dt>
        <dd>
          <span>{{ beneficiaire.isInscrit }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.beneficiaire.dateInscription">Date Inscription</span></dt>
        <dd>
          <span>{{ beneficiaire.dateInscription | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.beneficiaire.dateResiliation">Date Resiliation</span></dt>
        <dd>
          <span>{{ beneficiaire.dateResiliation | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/beneficiaire', beneficiaire.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
