<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="soldeCi">
      <h2 data-cy="soldeCiDetailsHeading"><span jhiTranslate="bcaApp.soldeCi.detail.title">Solde Ci</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ soldeCi.id }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeCi.date">Date</span></dt>
        <dd>
          <span>{{ soldeCi.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeCi.isActif">Is Actif</span></dt>
        <dd>
          <span>{{ soldeCi.isActif }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeCi.isDernier">Is Dernier</span></dt>
        <dd>
          <span>{{ soldeCi.isDernier }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeCi.annee">Annee</span></dt>
        <dd>
          <span>{{ soldeCi.annee }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeCi.consoMontantCi">Conso Montant Ci</span></dt>
        <dd>
          <span>{{ soldeCi.consoMontantCi }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeCi.consoCiRec">Conso Ci Rec</span></dt>
        <dd>
          <span>{{ soldeCi.consoCiRec }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeCi.soldeMontantCi">Solde Montant Ci</span></dt>
        <dd>
          <span>{{ soldeCi.soldeMontantCi }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeCi.soldeMontantCiRec">Solde Montant Ci Rec</span></dt>
        <dd>
          <span>{{ soldeCi.soldeMontantCiRec }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldeCi.droitsStrategieCi">Droits Strategie Ci</span></dt>
        <dd>
          <div *ngIf="soldeCi.droitsStrategieCi">
            <a [routerLink]="['/droits-strategie-ci', soldeCi.droitsStrategieCi?.id, 'view']">{{ soldeCi.droitsStrategieCi?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/solde-ci', soldeCi.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
