<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="soldePchE">
      <h2 data-cy="soldePchEDetailsHeading"><span jhiTranslate="bcaApp.soldePchE.detail.title">Solde Pch E</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ soldePchE.id }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePchE.date">Date</span></dt>
        <dd>
          <span>{{ soldePchE.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePchE.isActif">Is Actif</span></dt>
        <dd>
          <span>{{ soldePchE.isActif }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePchE.isDernier">Is Dernier</span></dt>
        <dd>
          <span>{{ soldePchE.isDernier }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePchE.annee">Annee</span></dt>
        <dd>
          <span>{{ soldePchE.annee }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePchE.mois">Mois</span></dt>
        <dd>
          <span>{{ soldePchE.mois }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePchE.consoMontantPchECotisations">Conso Montant Pch E Cotisations</span></dt>
        <dd>
          <span>{{ soldePchE.consoMontantPchECotisations }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePchE.consoMontantPchESalaire">Conso Montant Pch E Salaire</span></dt>
        <dd>
          <span>{{ soldePchE.consoMontantPchESalaire }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePchE.soldeMontantPchE">Solde Montant Pch E</span></dt>
        <dd>
          <span>{{ soldePchE.soldeMontantPchE }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePchE.consoHeurePchE">Conso Heure Pch E</span></dt>
        <dd>
          <span>{{ soldePchE.consoHeurePchE }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePchE.soldeHeurePchE">Solde Heure Pch E</span></dt>
        <dd>
          <span>{{ soldePchE.soldeHeurePchE }}</span>
        </dd>
        <dt><span jhiTranslate="bcaApp.soldePchE.droitsStrategiePchE">Droits Strategie Pch E</span></dt>
        <dd>
          <div *ngIf="soldePchE.droitsStrategiePchE">
            <a [routerLink]="['/droits-strategie-pch-e', soldePchE.droitsStrategiePchE?.id, 'view']">{{
              soldePchE.droitsStrategiePchE?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/solde-pch-e', soldePchE.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
